.lander {
  width: 100vw;
  height: calc(100vh - var(--unitwidth));
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background: var(--secondarycolor);
}
.logo {
  color: white;
  position: absolute;
  font-weight: var(--bold);
  font-size: 30px;
  top: 40px;
  left: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.designbrief {
  color: white;
  position: absolute;
  font-weight: var(--light);
  font-size: 18px;
  top: 40px;
  right: 40px;
  margin: 0;
  padding: 14px 20px;
  border: 1px solid white;
  text-decoration: none;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.designbrief:hover {
  background: white;
  color: var(--primarycolor);
}
.lander-title {
  margin-left: 200px;
  z-index: 1;
}
.lander-title p {
  font-size: 60px;
  color: white;
  font-weight: var(--regular);
  width: 50vw;
  line-height: 90px;
  margin: 0 0 40px 0;
}
.lander-title p span {
  font-weight: var(--bold);
  padding-bottom: -15px;
  border-bottom: 6px solid white;
}
.cap {
  position: absolute;
  right: 5vw;
  width: 36vw;
}
.header {
  height: var(--unitwidth);
  width: 100vw;
  background: var(--primarycolor);
  margin-top: -100px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  z-index: 100;
  box-shadow: 0 0 16px rgba(0,0,0,0);
}
.header div {
  display: flex;
  flex-direction: row;
  width: 58.334vw;
}
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.5835vw;
  height: 100%;
  color: var(--secondarycolor);
  font-weight: var(--light);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  background: white;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.header a:hover {
  background: var(--secondarycolor);
  color: white;
}
.block1 {
  height: var(--unitwidth);
  width: 40.6vw;
  margin-top: -100px;
  z-index: 99;
  background: var(--secondarycolor);
  position: absolute;
  right: 0;
  bottom: 0;
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 200px 0 0 0;
  padding: 0 0 0 0;
}
.block2 {
  background: var(--primarycolor);
  width: 30vw;
  margin: 0;
  height: 600px;
  right: 0;
}
.section1 .sectiontitle p{
  margin: 0;
  padding: 0 100px 0 0;
}
.section1 .img1 {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-image: url('../img/ddp.jpg');
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
}
.section1 .sectiontext {
  margin: 0 var(--unitwidth) 0 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--unitwidth) 0 0 0;
  width: 30vw;
}
.section1 .sectiontext .title {
  color: var(--secondarycolor);
  font-weight: var(--medium);
  margin: 0 0 40px 0;
  font-size: 28px;
  line-height: 28px;
}
.section1 .sectiontext p {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 24px;
}
.section1 .sectiontext a {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 0 var(--unitwidth);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid var(--secondarycolor);
  width: 100px;
  transition-duration: 300ms;
}
.section1 .sectiontext a:hover {
  background: var(--secondarycolor);
  color: white;
}
.section2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 0 0;
}
.block3 {
  background: var(--primarycolor);
  width: 30vw;
  margin: 0;
  height: 700px;
  right: 0;
}
.section2 .sectiontitle p{
  margin: 0;
  padding: 0 100px 0 0;
}
.section2 .img1 {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-image: url('../img/cim.jpg');
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
}
.section2 .sectiontext {
  margin: 0 0 0 var(--unitwidth);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--unitwidth) 0 0 0;
  width: 30vw;
}
.section2 .sectiontext .title {
  color: var(--secondarycolor);
  font-weight: var(--medium);
  margin: 0 0 40px 0;
  font-size: 28px;
  line-height: 28px;
}
.section2 .sectiontext p {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 24px;
}
.section2 .sectiontext a {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 0 var(--unitwidth);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid var(--secondarycolor);
  width: 100px;
  transition-duration: 300ms;
}
.section2 .sectiontext a:hover {
  background: var(--secondarycolor);
  color: white;
}
.section3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0;
  padding: 0 0 0 0;
}
.section3 .sectiontitle p{
  margin: 0;
  padding: 0 100px 0 0;
}
.section3 .img1 {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/de.jpg');
}
.section3 .sectiontext {
  margin: 0 var(--unitwidth) 0 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--unitwidth) 0 0 0;
  width: 30vw;
}
.section3 .sectiontext .title {
  color: var(--secondarycolor);
  font-weight: var(--medium);
  margin: 0 0 40px 0;
  font-size: 28px;
  line-height: 28px;
}
.section3 .sectiontext p {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 24px;
}
.section3 .sectiontext a {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 0 var(--unitwidth);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid var(--secondarycolor);
  width: 100px;
  transition-duration: 300ms;
}
.section3 .sectiontext a:hover {
  background: var(--secondarycolor);
  color: white;
}

.section4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 100px 0;
  padding: 0 0 0 0;
}
.block3 {
  background: var(--primarycolor);
  width: 30vw;
  margin: 0;
  height: 700px;
  right: 0;
}
.section4 .sectiontitle p{
  margin: 0;
  padding: 0 100px 0 0;
}
.section4 .img1 {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/cim.jpg');
}
.section4 .sectiontext {
  margin: 0 0 0 var(--unitwidth);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--unitwidth) 0 0 0;
  width: 30vw;
}
.section4 .sectiontext .title {
  color: var(--secondarycolor);
  font-weight: var(--medium);
  margin: 0 0 40px 0;
  font-size: 28px;
  line-height: 28px;
}
.section4 .sectiontext p {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 40px 0;
  font-size: 14px;
  line-height: 24px;
}
.section4 .sectiontext a {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 0 var(--unitwidth);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid var(--secondarycolor);
  width: 100px;
  transition-duration: 300ms;
}
.section4 .sectiontext a:hover {
  background: var(--secondarycolor);
  color: white;
}
.poeimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/poe.jpg');
}
.eddimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/edd.jpg');
}
.cadimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/cad.jpg');
}
.archimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/arch.jpg');
}
.compsciimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/compsci.jpg');
}
.statsimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-size: cover;
  background-position: bottom;
  padding: 0;
  z-index: 1;
  background-image: url('../img/stats.jpg');
}
.calcimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/calc.jpg');
}
.bioimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/bio.jpg');
}
.chemimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/chem.jpg');
}
.physimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px -300px var(--unitwidth) 0;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/phys.jpg');
}
.physcimg {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 var(--unitwidth) -300px;
  background-size: cover;
  background-position: center center;
  padding: 0;
  z-index: 1;
  background-image: url('../img/physc.jpg');
}
