.lander {
  width: 75vw;
  height: calc(100vh - var(--unitwidth));
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--secondarycolor);
}
.background {
  position: absolute;
  height: inherit;
  width: inherit;
  background-size: 130%;
}
.designbriefhome {
  color: var(--secondarycolor);
  font-weight: var(--light);
  font-size: 18px;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 14px 20px;
  border: 1px solid var(--secondarycolor);
  text-decoration: none;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  position: fixed !important;
  z-index: 101;
}
.designbriefhome:hover {
  background: var(--secondarycolor);
  color: white;
  border: 1px solid var(--secondarycolor) !important;
}
.lander-title {
  margin-left: 200px;
  z-index: 1;
}
.lander-title p {
  font-size: 60px;
  color: white;
  font-weight: var(--medium);
  width: 45vw;
  line-height: 70px;
  margin: 0 0 40px 0;
}
.lander-title p span {
  font-size: 40px;
  line-height: 50px;
  font-weight: var(--light);
}
.header {
  height: var(--unitwidth);
  width: 100vw;
  background: var(--primarycolor);
  margin-top: -100px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 100;
  box-shadow: 0 0 16px rgba(0,0,0,0);
}
.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 58.334vw;
}
.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.5835vw;
  height: 100%;
  color: var(--secondarycolor);
  font-weight: var(--regular);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  background: white;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.header a:hover {
  background: var(--primarycolor);
  color: white;
}
.block1 {
  height: var(--unitwidth);
  background: var(--secondarycolor);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40.6vw;
  margin-top: -100px;
  z-index: 99;
}
.laptop {
  width: 400px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  position: absolute;
  right: 25vw;
  margin-right: -200px;
}
.section1 {

}
.block2 {
  position: absolute;
  height: var(--unitwidth);
  width: var(--unitwidth);
  background: var(--secondarycolor);
  right: 40.6vw;
  display: none;
}
.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
    margin-top: var(--unitwidth);
}
.section1 .sectiontitle {
  margin-top: var(--unitwidth);
  width: 37.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .sectiontitle {
  font-weight: var(--light);
  color: var(--secondarycolor);
  font-size: 100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.section1 .sectiontext {
  margin: var(--unitwidth) 0 0 0;
  right: 0;
  width: 62.5vw;
  background: var(--secondarycolor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--unitwidth) 0;
}
.section1 .sectiontext p {
  color: white;
  font-weight: var(--regular);
  margin: 0 var(--unitwidth);
}
.section1 .sectiontext .subtitle {
  font-size: 50px;
  margin-bottom: 20px;
}
.section1 .sectiontext .paragraph {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}
.section1 .sectiontext .paragraph:last-child {
  margin-bottom: 0;
}
.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0 0 0 0;
}
.block3 {

}
.section2 .sectiontitle {
  font-weight: var(--light);
  color: white;
  font-size: 40px;
  line-height: 40px;
  background: var(--primarycolor);
  width: 37.2vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 160px 0;
}
.section2 .sectiontitle p{
  margin: 0;
  padding: 0 100px 0 0;
}
.section2 .img {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0 var(--unitwidth) -100px;
  background: var(--secondarycolor);
  padding: 0;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.4);
  z-index: 1;
}
.section2 img {
  width: 370px;
}
.section2 .a {
  width: 270.64625px;
  height: 309.316218px;
}
.section2 .sectiontext {
  margin: var(--unitwidth) 0 0 0;
  right: 0;
  width: ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--unitwidth) 0 0 0;
  width: 30vw;
}
.section2 .sectiontext p {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 40px var(--unitwidth);
  font-size: 14px;
  line-height: 24px;
}
.section2 .sectiontext a {
  color: var(--secondarycolor);
  font-weight: var(--regular);
  margin: 0 0 0 var(--unitwidth);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid var(--secondarycolor);
  width: 100px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.section2 .sectiontext a:hover {
  background: var(--secondarycolor);
  color: white;
}
