:root {
  --primarycolor: #4717F6;
  --secondarycolor: #0E0B16;
  --unitwidth: 100px;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 300;
}
::selection {
  color: white;
  background: var(--primarycolor);
}
html {
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 30px;
  width: 90.516px;
}
.lander-title a {
  font-size: 20px;
  color: white;
  font-weight: var(--regular);
  width: 40vw;
  line-height: 20px;
  text-decoration: none;
  padding: 15px 0 11px 0;
  border-bottom: 3px solid white;
  transition-duration: 400ms;
}
.lander-title a:hover {
  background: white;
  padding: 15px 25px 12px 25px;
  color: var(--secondarycolor);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
footer .part1 {
  background: var(--secondarycolor);
  height: 300px;
  width: 62.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .part1 p{
  color: white;
}
footer .part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primarycolor);
  height: 200px;
  width: 37.5vw;
}
footer .part2 p{
  color: white;
}

/*loading screen*/

#overlay {
  margin: auto;
  padding:0;
  z-index: 998;
	height: 100vh;
	width: 100vw;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  background: var(--primarycolor);
  transition-duration: 1000ms;
  transition-delay: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.loadingText {
  color: var(--secondarycolor);
  font-weight: var(--bold);
  font-size: 40px;
  margin: 0;
  padding: 0 0 10px 0;
  text-decoration: none;
}
.loadingText1 {
  color: var(--secondarycolor);
  font-weight: var(--light);
  font-size: 20px;
  margin: 0;
  padding: 0 0 60px 0;
  text-decoration: none;
}
.spinner {
	width: 100px;
	height: 100px;
	border: 4px solid var(--primarycolor);
	border-top: 4px solid var(--secondarycolor);
	border-radius: 100%;
	margin: 0;
	z-index: 998;
	animation: spin 1s infinite linear;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
