:root {
  --primarycolor: #4717F6;
  --secondarycolor: #0E0B16;
  --unitwidth: 100px;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 300;
}
::-moz-selection {
  color: white;
  background: var(--primarycolor);
}
::selection {
  color: white;
  background: var(--primarycolor);
}
html {
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
}
.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 30px;
  width: 90.516px;
}
.lander-title a {
  font-size: 20px;
  color: white;
  font-weight: var(--regular);
  width: 40vw;
  line-height: 20px;
  text-decoration: none;
  padding: 15px 0 11px 0;
  border-bottom: 3px solid white;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.lander-title a:hover {
  background: white;
  padding: 15px 25px 12px 25px;
  color: var(--secondarycolor);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
footer .part1 {
  background: var(--secondarycolor);
  width: 61vw;
  padding: 100px 0 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .part1 .logofooter {
  margin-bottom: 30px;
}
.logofooter img {
  height: 40px;
}
footer .part1 h1 {
  color: white;
  font-size: 26px;
  font-weight: var(--medium);
  line-height: 26px;
  margin: 0;
  padding: 10px 0;
}
footer .part1 h2 {
  color: white;
  font-size: 26px;
  font-weight: var(--medium);
  line-height: 26px;
  margin: 0;
  padding: 24px 0 10px 0;
}
footer .part1 ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 30px;
}
footer .part1 a {
  color: rgba(255,255,255,0.5);
  font-size: 20px;
  font-weight: var(--regular);
  text-decoration: none;
  line-height: 30px;
  transition-duration: 300ms;
  width: 70px;
}
.arrow {
  position: absolute;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: 5px;
  opacity: 0;
  transition-duration: 300ms;
}
footer a:hover {
  color: white;
}
footer a:hover ~ .arrow {
  opacity: 1;
}
footer .firstchild:hover ~ .arrow {
  margin-top: 5px;
}
footer .secondchild:hover ~ .arrow {
  margin-top: 35px;
}
footer .thirdchild:hover ~ .arrow {
  margin-top: 65px;
}
footer .fourthchild:hover ~ .arrow {
  margin-top: 95px;
}
footer .part1 p {
  margin-top: 50px;
  color: rgba(255,255,255,0.7);
  font-size: 13px;
  font-weight: var(--regular);
  line-height: 16px;
  transition-duration: 400ms;
  padding-left: 12px;
  border-left: 1px solid rgba(255,255,255,0.7);
}
footer .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--primarycolor);
  width: 37.5vw;
  padding: 100px;
}
footer .part2 h1{
  color: white;
  font-size: 26px;
  font-weight: var(--medium);
  line-height: 26px;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
footer .part2 h1 i{
  height: 26px;
  width: 26px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 16px;
}
footer .part2 a {
  text-align: center;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  font-weight: var(--regular);
  line-height: 18px;
  margin: 20px 0 6px 0;
  padding: 15px 0;
  text-decoration: none;
  width: 226px;
  border: 1px solid rgba(255,255,255,0.7);
  transition-duration: 400ms;
}
footer .part2 a:hover {
  background: white;
  color: var(--primarycolor);
}

/*loading screen*/

#overlay {
  margin: auto;
  padding:0;
  z-index: 998;
	height: 100vh;
	width: 100vw;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  background: var(--primarycolor);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.loadingText {
  color: var(--secondarycolor);
  font-weight: var(--bold);
  font-size: 40px;
  margin: 0;
  padding: 0 0 10px 0;
  text-decoration: none;
}
.loadingText1 {
  color: var(--secondarycolor);
  font-weight: var(--light);
  font-size: 20px;
  margin: 0;
  padding: 0 0 60px 0;
  text-decoration: none;
}
.spinner {
	width: 100px;
	height: 100px;
	border: 4px solid var(--primarycolor);
	border-top: 4px solid var(--secondarycolor);
	border-radius: 100%;
	margin: 0;
	z-index: 998;
	-webkit-animation: spin 1s infinite linear;
	        animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
