:root {
  --primarycolor: #ff5735;
  --secondarycolor: #1C124D;
  --unitwidth: 100px;
  --bold: 'hindbold';
  --semibold: 'hindsemibold';
  --medium: 'hindmedium';
  --regular: 'hindbold';
  --light:'hindlight' ;
}
html {
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.lander {
  width: 75vw;
  height: calc(100vh - var(--unitwidth));
  max-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  background: var(--primarycolor);
}
.logo {
  color: white;
  position: absolute;
  font-family: var(--bold);
  font-size: 30px;
  top: 40px;
  left: 40px;
  margin: 0;
  padding: 0;
}
.designbrief {
  color: var(--secondarycolor);
  position: absolute;
  font-family: var(--light);
  font-size: 18px;
  top: 40px;
  right: 40px;
  margin: 0;
  padding: 14px 20px;
  border: 1px solid var(--secondarycolor);
  text-decoration: none;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.designbrief:hover {
  background: var(--secondarycolor);
  color: white;
}
.lander-title {
  margin-left: 200px;
}
.lander-title p {
  font-size: 50px;
  color: var(--secondarycolor);
  font-family: var(--bold);
  width: 34vw;
  line-height: 60px;
}
.bits {
  position: absolute;
}
.bits .line1 {
  position: absolute;
  width: 10px;
  height: 40px;
  background: white;
  transform: rotate(-45deg);
  margin-left: 100px;
  margin-top: -40px;
}
.bits .line2 {
  position: absolute;
  width: 10px;
  height: 40px;
  background: white;
  transform: rotate(45deg);
  margin-left: -60px;
  margin-top: 90px;
}
.bits .line3 {
  position: absolute;
  width: 10px;
  height: 40px;
  background: white;
  transform: rotate(-45deg);
  margin-left: 300px;
  margin-top: 180px;
}
.bits .circle1 {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 10px solid white;
  margin-left: 32vw;
  margin-top: -30px;
  border-radius: 50%;
}
.bits .circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid white;
  margin-left: 40px;
  margin-top: 200px;
  border-radius: 50%;
}
.header {
  height: var(--unitwidth);
  width: 58.334vw;
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.5835vw;
  height: 100%;
  color: var(--secondarycolor);
  font-family: var(--light);
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  list-style: none;
  background: white;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.header a:hover {
  background: var(--secondarycolor);
  color: white;
}
.block1 {
  height: var(--unitwidth);
  width: 41.666vw;
  background: var(--secondarycolor);
  position: absolute;
  right: 0;
  bottom: 0;
}
.laptop {
  width: 400px;
  transform: rotate(20deg);
  position: absolute;
  right: 25vw;
  margin-right: -200px;
}
.bits2 {
  position: absolute;
  right: 0;
  top: 140px;
}
.bits2 .circle1 {
  position: absolute;
  height: 70px;
  width: 70px;
  border: 10px solid var(--primarycolor);
  right: 40px;
  top: 0;
  border-radius: 50%;
}
.bits2 .line1 {
  position: absolute;
  width: 10px;
  height: 40px;
  background: var(--primarycolor);
  transform: rotate(-45deg);
  right: 140px;
  top: 40vh;
}
.section1 {

}
.block2 {
  position: absolute;
  height: var(--unitwidth);
  width: var(--unitwidth);
  background: var(--primarycolor);
  right: 41.666vw;
}
.section1 {
  display: flex;
  flex-direction: row;
    margin-top: var(--unitwidth);
}
.section1 .sectiontitle {
  margin-top: var(--unitwidth);
  width: 37.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .sectiontitle {
  font-family: var(--light);
  color: var(--secondarycolor);
  font-size: 100px;
  transform: rotate(90deg);
  transform-origin: center center;
  opacity: .3;
}
.section1 .sectiontext {
  margin-top: var(--unitwidth);
  right: 0;
  width: 62.5vw;
  background: var(--secondarycolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--unitwidth) 0;
}
.section1 .sectiontext p {
  color: white;
  font-family: var(--light);
  margin: 0 var(--unitwidth);
}
.section1 .sectiontext .subtitle {
  font-size: 50px;
  margin-bottom: 20px;
}
.section1 .sectiontext .paragraph {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}
.section1 .sectiontext .paragraph:last-child {
  margin-bottom: 0;
}
